<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="SetupProject1" Language="1033" Version="1.0.0.0" Manufacturer="Adam 104559959" UpgradeCode="dfae4a46-d66f-4328-a2ba-dce9b838a2c7">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="SetupProject1" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SetupProject1" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent" Guid="dfae4a46-d66f-4328-a2ba-dce9b838a2c7">
				<File Id="MementoEXE" Source="$(var.Memento.TargetPath)" KeyPath="yes"></File>
			</Component>
			<Component Id="VCRuntime140" Guid="dfae4a46-d66f-4328-a2ba-dce9b838a2c8">
				<File Id="VCRuntime140DLL" Source="..\Memento\Redist\VCRuntime140.dll" KeyPath="yes"></File>
			</Component>
			<Component Id="VCRuntime140_1" Guid="dfae4a46-d66f-4328-a2ba-dce9b838a2c9">
				<File Id="VCRuntime140_1DLL" Source="..\Memento\Redist\VCRuntime140_1.dll" KeyPath="yes"></File>
			</Component>
			<Component Id="msvcp140" Guid="dfae4a46-d66f-4328-a2ba-dce9b838a2c1">
				<File Id="msvcp140DLL" Source="..\Memento\Redist\msvcp140.dll" KeyPath="yes"></File>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
